@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Trainee Courses";
}

<h2>Courses for Trainee: @ViewBag.TraineeName</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Grade</th>
            <th>Min Passing Grade</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseName</td>
                <td>@course.TraineeGrade</td>
                <td>@course.MinDegree</td>
                <td>
                    @if (course.IsPass)
                    {
                        <span class="text-success" style="color:greenyellow">Passed</span>
                    }
                    else
                    {
                        <span class="text-danger" style="color:red">Failed</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
