@model Department
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<form method="post" action="/Department/SaveAdd">
    <div>
        <label>Name</label>
        <input name="Name"  id="Name" value="@Model?.Name" type="text" class="from from-control" />
    </div>
    <div>
        <label>ManagerName</label>
        <input name="ManagerName" id="ManagerName" value="@Model?.ManagerName" type="text" class="from from-control" />
    </div>
    <div>
        <input type="submit" value="create" class="btn btn-primary" />
    </div>
</form>
<a href="/Department/Index">Back To List</a>

